<div class="doc-box">
<i class="doc-corner doc-corner-tl"></i><i class="doc-corner doc-corner-tr"></i><i class="doc-corner doc-corner-bl"></i><i class="doc-corner doc-corner-br"></i>
{{{head}}}<div class="doc-box-content">{{{content}}}</div>
</div>
<template data-part="group"><div class="doc-box-group">{{{items}}}</div></template>
<template data-part="head"><div class="doc-box-head">{{{title}}}{{{subtitle}}}</div></template>
<template data-part="title"><h{{h}} class="doc-box-title">{{text}}</h{{h}}></template>
<template data-part="subtitle"><p class="doc-box-subtitle">{{text}}</p></template>
