<template data-part="b"><b class="doc-bold">{{{content}}}</b></template>
<template data-part="i"><i class="doc-italic">{{{content}}}</i></template>
<template data-part="q"><q class="doc-quote">{{{content}}}</q></template>
<template data-part="code"><code class="doc-inline-code">{{{content}}}</code></template>
<template data-part="a"><a class="doc-link" href="{{href}}">{{{content}}}</a></template>
<template data-part="a-external"><a class="doc-link doc-link-external" href="{{href}}" target="_blank" rel="noopener noreferrer">{{{content}}}</a></template>
<template data-part="a-dead"><span class="doc-link doc-link-dead">{{{content}}}</span></template>
<template data-part="br"><br class="doc-break"></template>
