<div class="doc-table-wrap"><table class="doc-table doc-table-{{kind}}">{{{head}}}<tbody class="doc-table-body">{{{rows}}}</tbody></table></div>
<template data-part="head"><thead class="doc-table-head"><tr class="doc-table-head-row">{{{cells}}}</tr></thead></template>
<template data-part="head-cell"><th class="doc-table-head-cell" scope="col">{{text}}</th></template>
<template data-part="row"><tr class="doc-table-row">{{{cells}}}</tr></template>
<template data-part="cell"><td class="doc-table-cell">{{{content}}}</td></template>
